@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&display=swap");

:root {
  /*  ## Colors

### Primary */

  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* ### Neutral */

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-grayish-blue);
  font-family: "Barlow Semi Condensed", san-serif;
}
#testimonial-grid-container {
  padding: 5% 3%;
}

#testimonial-1 {
  background-color: var(--Moderate-violet);
  color: var(--White);
  position: relative;
  z-index: 0;
}
#testimonial-2 {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--White);
}
#testimonial-3,
#testimonial-5 {
  background-color: var(--White);
  color: var(--Very-dark-blackish-blue);
}
#testimonial-4 {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
}

.grid-item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  font-size: 13px;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
}
.header img {
  border-radius: 50%;
  border: 1px solid #fff;

  margin-right: 10px;
}

.grid-item h4 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
.grid-item p {
  opacity: 70%;
}
.header .name {
  opacity: 100%;
  font-size: 1rem;
}

#qoute {
  position: absolute;
  right: 15%;
  top: 0;
  z-index: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  #testimonial-grid-container,
  #main-left,
  #top,
  #bottom {
    display: flex;
  }

  #testimonial-grid-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  #testimonial-5 {
    flex-basis: 20%;
  }

  #main-left {
    flex-direction: column;
    flex-basis: 80%;
  }

  #main-left .grid-item {
    margin-right: 15px;
  }

  #top,
  #bottom {
    flex-basis: 50%;
  }

  #testimonial-1,
  #testimonial-4 {
    flex-basis: 65%;
  }
  #testimonial-2,
  #testimonial-3 {
    flex-basis: 35%;
  }
}
